<!DOCTYPE html>
<html>
<head>
    <title>Insurance Claims Fraud Prediction</title>
</head>
<body>
    <h1>Insurance Claims Fraud Prediction</h1>

    <form action="{{ url_for('predict_datapoint')}}" method="POST">
        <label for="insured_zip">Insured ZIP:</label>
        <input type="text" id="insured_zip" name="insured_zip"><br><br>

        <label for="collision_type">Collision Type:</label>
        <select id="collision_type" name="collision_type">
            <option value="Front Collision">Front Collision</option>
            <option value="Rear Collision">Rear Collision</option>
            <option value="Side Collision">Side Collision</option>
        </select><br><br>

        <label for="incident_severity">Incident Severity:</label>
        <select id="incident_severity" name="incident_severity">
            <option value="Minor Damage">Minor Damage</option>
            <option value="Major Damage">Major Damage</option>
            <option value="Total Loss">Total Loss</option>
        </select><br><br>

        <label for="authorities_contacted">Authorities Contacted:</label>
        <select id="authorities_contacted" name="authorities_contacted">
            <option value="Police">Police</option>
            <option value="Fire">Fire</option>
            <option value="Ambulance">Ambulance</option>
        </select><br><br>

        <label for="insured_sex">Insured Sex:</label>
        <select id="insured_sex" name="insured_sex">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select><br><br>

        <label for="capital-gains">Capital Gains:</label>
        <input type="text" id="capital-gains" name="capital-gains"><br><br>

        <label for="capital-loss">Capital Loss:</label>
        <input type="text" id="capital-loss" name="capital-loss"><br><br>

        <label for="insured_relationship">Insured Relationship:</label>
        <select id="insured_relationship" name="insured_relationship">
            <option value="Self">Self</option>
            <option value="Spouse">Spouse</option>
            <option value="Child">Child</option>
            <option value="Other">Other</option>
        </select><br><br>

        <label for="policy_state">Policy State:</label>
        <select id="policy_state" name="policy_state">
            <option value="IL">IL</option>
            <option value="IN">IN</option>
            <option value="OH">OH</option>
        </select><br><br>

        <label for="umbrella_limit">Umbrella Limit:</label>
        <input type="text" id="umbrella_limit" name="umbrella_limit"><br><br>

        <label for="incident_type">Incident Type:</label>
        <select id="incident_type" name="incident_type">
            <option value="Single Vehicle Collision">Single Vehicle Collision</option>
            <option value="Multi-vehicle Collision">Multi-vehicle Collision</option>
            <option value="Parked Car">Parked Car</option>
            <option value="Vehicle Theft">Vehicle Theft</option>
        </select><br><br>

        <label for="insured_education_level">Insured Education Level:</label>
        <select id="insured_education_level" name="insured_education_level">
            <option value="High School">High School</option>
            <option value="College">College</option>
            <option value="Associate">Associate</option>
            <option value="Bachelor">Bachelor</option>
            <option value="Master">Master</option>
            <option value="PhD">PhD</option>
        </select><br><br>

        <label for="policy_deductable">Policy Deductable:</label>
        <input type="text" id="policy_deductable" name="policy_deductable"><br><br>

        <label for="policy_annual_premium">Policy Annual Premium:</label>
        <input type="text" id="policy_annual_premium" name="policy_annual_premium"><br><br>

        <input type="submit" value="Predict">
    </form>
    <h2>
        The prediction is {{results}}
    </h2>
</body>
</html>

